[Desktop Entry]
Type=Application
Version=0.1.1
Name=Syng
Comment=A free, open source, cross platform Chinese-to-English dictionary application
Path=/opt/syng
Exec=/opt/syng/Syng
Icon=/opt/syng/icon.png
Categories=Utility;Office;

